@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-flip-blue: #2874f0;
  --color-flip-yellow: #ffe500;
  --color-flip-bg: #f1f3f6;
  --color-flip-green: #388e3c;
  --color-flip-orange: #fb641b;
}

body {
  background-color: var(--color-flip-bg);
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}
